@import '@heroui/styles';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
